.body{
    border: solid 2px black;
    position: absolute;
    border-radius: 10px;
    box-shadow: inset 20px auto;
    margin: 5% auto;
}


h1{
    animation: example .5s;
    animation-iteration-count: infinite;
    width:fit-content;
    height: fit-content;
}

@keyframes example {
    0%   {background-color: rgb(195, 183, 183);}
    25%  {background-color: yellow;}
    50%  {background-color: rgba(0, 0, 255, 0.382);}
    100% {background-color: rgb(116, 213, 218);}
}


.center{
    margin: 5%;
    border: solid 2px black;
    border-radius: 5pc;
    box-shadow: 8px 8px rgba(15, 14, 14, 0.418) ;
    text-align: center;
    color: blue;
    background-color: rgb(218, 241, 40);
    text-overflow: clip;
    position:absolute;
    line-height: 50px;
}
